modulos/06-workflows/01-ping-webhook.json
{
  "name": "01 - Ping Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ping",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const entrada = $input.first().json;\n\nreturn {\n  respuesta: 'pong',\n  recibido: entrada.mensaje || 'sin mensaje',\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Preparar respuesta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Preparar respuesta", "type": "main", "index": 0}]]
    },
    "Preparar respuesta": {
      "main": [[{"node": "Responder", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {},
  "tags": [{"name": "lab-ejemplo"}]
}
